/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fixed value */

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

img {
    max-width: 100%;
}

/* Debug */

.debug .container {
    border: 3px solid black;
    padding: 30px;
}

.debug .row {
    border: 2px solid blue;
    padding: 20px;
}

.debug .row [class^='col-'] {
    border: 1px dashed green;
    min-height: 300px;
    padding: 10px;
}